body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #EEEEEE;
}

fieldset{
    width: 20%;
}

h1 {
    text-shadow: 4px 4px 15px #1EA0E0;
}

h2 {
    text-shadow: 2px 2px 10px #1EF3A3;
}

a {
    text-decoration: none;
    color: #1E0EE0;
}

a:hover {
    font-weight: bold;
}

.submit {
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #2CADD2;
    padding: 5px 20px;
    white-space: nowrap;
   *margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.azul{
    background: #3498DB;
    box-shadow: 0px 5px 0px 0px #2980B9;
}

.azul:hover{
    background: #39a0e5;
}

.azul:active{
    box-shadow: 0px 2px 0px 0px #2980B9;
}

button {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 7px 20px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

#rojo{
    background: #E74C3C;
    box-shadow: 0px 0px 0px 0px #C0392B;
}

#rojo:hover{
    background: #ff5242;
}

#rojo:active{
    box-shadow: 0px 2px 0px 0px #C0392B;
}

#morado{
    background: #8833f8;
    box-shadow: 0px 0px 0px 0px #4c2697;
}

#morado:hover{
    background: #8833f8;
}

#morado:active{
    box-shadow: 0px 2px 0px 0px #4c2697;
}

#login{
    margin: 0;
    padding: 0;
    display: inline;
}

.login{
    display: inline;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

th{
    padding-left: 5px;
    padding-right: 5px;
}

#no_borde{
    border-bottom: hidden;
    border-top: hidden;
    border-right: hidden;
}

#izquierda{
    display: inline-block;
    float: left;
}

#derecha{
    position: absolute;
    left: 300px;
    bottom: 225px;
}