@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.icon-arrow-right:before {
    content: "\e00d";
}

/* Button 2 */
.btn-2 {
    background: #8b99cd;
    color: #fff;
    font-size: larger;
    box-shadow: 0 6px #506EE5;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

/* Button 2h */
.btn-2h {
    border-radius: 20px;
}

.btn-2h:hover {
    box-shadow: 0 4px #506EE5;
    top: 2px;
}

.btn-2h:active {
    box-shadow: 0 0 #506EE5;
    top: 6px;
}

/* Button 3 */
.btn-3 {
    background: rgba(141, 174, 252, 0.80);
    color: #fff;
}

.btn-3:hover {
    background: #6a82bc;
}

.btn-3:active {
    background: #6a82bc;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3e */
.btn-3e {
    padding: 25px 120px 25px 60px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}