body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#encabezadoPadre {
    text-shadow: 4px 4px 15px #6AC23C;
}

#enviar {
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #FFF;
    background: #6AC23C;
    padding: 5px 20px;
    white-space: nowrap;
    margin: 10px 5px;
}

#enviar:hover{
    background: #CFF707;
    color: #000;
}

#enviar:active{
    box-shadow: 0px 2px 0px 0px #CFF707;
}

#infoFormulario {
    width: 970px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #6AC23C;
}